.flex-card {
  display: flex;
  flex-direction: row;
}

.description {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    text-transform: uppercase;
    font-size: 1.5em;
  }
  p {
    padding: 1em;
  }
}
