<div class="card flex justify-content-center">
  <h2>JavaScript</h2>
  <p-accordion [activeIndex]="0">
    <p-accordionTab header="For">
      <div class="card flex-card">
        <p-image
          src="../../assets/images/javascripts_images/forLoop.png"
          alt="Image"
          width="100%"
          [preview]="true"
        ></p-image>
        <div class="description">
          <h3>for (initialisation; condition; incrémentation)</h3>
          <p>Exemple de loop for en JavaScript.</p>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="While">
      <div class="card flex-card">
        <p-image
          src="../../assets/images/javascripts_images/whileLoop.png"
          alt="Image"
          width="100%"
          [preview]="true"
        ></p-image>
        <div class="description">
          <h3>while (condition)</h3>
          <p>Exemple de while en JavaScript.</p>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Do While">
      <div class="card flex-card">
        <p-image
          src="../../assets/images/javascripts_images/doWhile.png"
          alt="Image"
          width="100%"
          [preview]="true"
        ></p-image>
        <div class="description">
          <h3>Do while(condition)</h3>
          <p>Exemple de Do while en JavaScript.</p>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
