<div class="card flex justify-content-center">
  <p-accordion [activeIndex]="0">
    <p-accordionTab header="For">
      <div class="card flex-card">
        <p-image
          src="../../assets/images/javascripts_images/forLoop.png"
          alt="Image"
          width="100%"
          [preview]="true"
        ></p-image>
        <div class="description">
          <h3>for (initialisation; condition; incrémentation)</h3>
          <p>
            Exemple de loop for en JavaScript. N'hésite pas à cliquer sur
            l'image pour voir le code. Le fichier se trouve dans le dossier
            utils/javascripts
          </p>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="While">
      <div class="card flex-card">
        <p-image
          src="../../assets/images/javascripts_images/forLoop.png"
          alt="Image"
          width="100%"
          [preview]="true"
        ></p-image>
        <div class="description">
          <h3>for (initialisation; condition; incrémentation)</h3>
          <p>
            Exemple de loop for en JavaScript. N'hésite pas à cliquer sur
            l'image pour voir le code. Le fichier se trouve dans le dossier
            utils/javascripts
          </p>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Header III">
      <div class="card flex-card">
        <p-image
          src="../../assets/images/javascripts_images/forLoop.png"
          alt="Image"
          width="100%"
          [preview]="true"
        ></p-image>
        <div class="description">
          <h3>for (initialisation; condition; incrémentation)</h3>
          <p>
            Exemple de loop for en JavaScript. N'hésite pas à cliquer sur
            l'image pour voir le code. Le fichier se trouve dans le dossier
            utils/javascripts
          </p>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
